@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.background{
    display: flex;
    background-color: hsl(220, 15%, 55%);
    align-items: center;
    width: 100%;
    justify-content: center;
    height:1000px;
    
}
.container{

    margin: 30px;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    width: 25%;
    text-align: center;
   
}
.img{
    display: flex;
    justify-content: center;
}
img{
   
    border-radius: 20px;
    width: 100%;
}
p{
    font-size: 15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(212, 45%, 89%);
    
}
h2{
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}
.text{
    padding: 5px;
}
